@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap");

@font-face {
    font-family: 'Markin'; 
    src: url('./assets/fonts/Markin-LT-Ultra-Bold.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 

    font-family: 'heavyheap'; 
    src: url('./assets/fonts/heavyheap.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 

    font-family: 'p5hatty'; 
    src: url('./assets/fonts/p5hatty.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;
