<footer class="bg-palette-redbase p-6 text-white">
    <div class="container mx-auto">
        <div class="flex justify-between space-x-6">
            <!-- Bagian Navigation -->
            <div class="flex-1">
                <h5 class="text-md font-bold mb-2 text-left">Navigation</h5>
                <ul class="list-unstyled text-left text-sm">
                    <li class="mb-1">
                        <a href="/"
                            class="flex items-center text-white hover:bg-palette-reddarker p-1 transition duration-300 ease-in-out">
                            <i class="fas fa-home mr-1"></i> Home
                        </a>
                    </li>
                    <li class="mb-1">
                        <a href="/posts"
                            class="flex items-center text-white hover:bg-palette-reddarker p-1 transition duration-300 ease-in-out">
                            <i class="fas fa-blog mr-1"></i> Post
                        </a>
                    </li>
                    <li class="mb-1">
                        <a href="/blog"
                            class="flex items-center text-white hover:bg-palette-reddarker p-1 transition duration-300 ease-in-out">
                            <i class="fas fa-user mr-1"></i> Blog
                        </a>
                    </li>
                    <li>
                        <a href="/about"
                            class="flex items-center text-white hover:bg-palette-reddarker p-1 transition duration-300 ease-in-out">
                            <i class="fas fa-envelope mr-1"></i> About
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Bagian Contact -->
            <div class="flex-1">
                <h5 class="text-md font-bold mb-2 text-left">Contact</h5>
                <ul class="list-unstyled text-left text-sm">
                    <li class="flex items-center mb-1">
                        <i class="fas fa-map-marker-alt mr-1"></i> Jl. Contoh No.1, Jakarta
                    </li>
                    <li class="flex items-center mb-1">
                        <i class="fas fa-phone mr-1"></i> (021) 123-4567
                    </li>
                    <li class="flex items-center">
                        <i class="fas fa-envelope mr-1"></i> contoh@email.com
                    </li>
                </ul>
            </div>

            <!-- Bagian Social -->
            <div class="flex-1">
                <h5 class="text-md font-bold mb-2 text-left">Social</h5>
                <div class="flex space-x-2">
                    <a href="https://instagram.com/username"
                        class="text-white hover:bg-palette-reddarker p-1 transition duration-300 ease-in-out">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-4 text-xs">
            <p>&copy; Made with luv by Maheswara Damar</p>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">