<header class="sticky top-0 z-50 bg-palette-redbase shadow-lg">
    <nav class="flex container mx-auto items-center p-2">
        <div>
            <a href="">
                <img class="w-12 h-12 rounded-full overflow-hidden" src="../assets/icon.png" alt="">
            </a>
        </div>
        <div class="ml-auto text-palette-add001 font-bold">
            <ul class="flex gap-6">
                <li class="relative group">
                    <a class="hover:text-palette-darker" href="">Home</a>
                    <span
                        class="absolute bottom-0 left-0 w-0 h-1 bg-palette-darkest transition-all duration-300 group-hover:w-full"></span>
                </li>
                <li class="relative group">
                    <a class="hover:text-palette-darker" href="">Blog</a>
                    <span
                        class="absolute bottom-0 left-0 w-0 h-1 bg-palette-darkest transition-all duration-300 group-hover:w-full"></span>
                </li>
                <li class="relative group">
                    <a class="hover:text-palette-darker" href="">Post</a>
                    <span
                        class="absolute bottom-0 left-0 w-0 h-1 bg-palette-darkest transition-all duration-300 group-hover:w-full"></span>
                </li>
                <li class="relative group">
                    <a class="hover:text-palette-darker" href="">About</a>
                    <span
                        class="absolute bottom-0 left-0 w-0 h-1 bg-palette-darkest transition-all duration-300 group-hover:w-full"></span>
                </li>
            </ul>
        </div>
    </nav>
</header>